<div id="main_nav" class="is-align-content-center">
    <div class = "flex_center clickable" id="burger_menu"> {% if not Data.Menu.horizontal %}<a> <i class="fas fa-bars"></i></a> {% endif %}</div>
    <div id="logo_container" class="clickable"><a id="img_link" href="{{Data.url}}/"><img id="logo_img" src="{{ Data.config.url }}/images/logo.png" alt="Core art"><span id="logo_text"> Core Art </span></a></div>
    <div class = "flex_center clickable" id="shopping-cart"> <a ><i class="fas fa-shopping-cart"></i></a> </div>
    <div class = "{% if Data.timepass < 30 %}is-hidden{% endif%} flex_center clickable" id="return_form" data-timepass="{{ Data.timepass }}"> <span id="return_form_text">Retour enquête</span><i class="fas fa-door-open"></i></div>
    <div id = "chart_container">
        <div id="chart_items" class="chart_items"></div>
        <div id="chart_button_container" class="flex_center">
            <div class="trash is-hidden"><i class="fas fa-trash"></i></div>
        </div>
    </div>
   <div id="shopping-nb"></div>
</div>