<div id="main_nav" class="is-align-content-center">
    <div class = "flex_center" id="burger_menu"> {% if not Data.Menu.horizontal %}<a> <i class="fas fa-bars"></i></a> {% endif %}</div>
    <div class = "flex_center"> Logo </div>
    <div class = "flex_center" id="shopping-cart"> <a><i class="fas fa-shopping-cart"></i></a> </div>
    <div id = "chart_container">
        <div id="chart_items"></div>
        <div id="chart_button_container" class="flex_center"></div>
    </div>
   <div id="shopping-nb"></div>
</div>