#navbar{
}

#categories_nav_container{

}

#chart_container{
    top: calc(9.5vh + 70px);
    height: calc(90.5vh - 70px) !important;
}

.content{
    padding-top: calc(calc(9.5vh) + 70px);
}

.categorie_link{
    width: 100%;
    padding: 0;
    height: 100%;
}

.nav_item{
    cursor: pointer;
    position: relative;
    height: 70px;
    font-weight: bold;
    transition: all 0.5s ease;
    color: white;
}

.nav_item_clickable{
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s ease;
    color: white;
    height: 70px;
    font-weight: bold;
}

.active{
    color: #616161;
    background-color: #ffca28;
}

#sub_nav{
    background-color: #616161;
    margin-top: 12px;
}

#sub_categories_nav{
    background-color: #757575;
    border-top: #ffca28 solid 3px;
    margin-top: 12px;
    height: 0;
    transition: all 0.5s ease;
}

#sub_categories_nav.open{
    height: 70px;
}

#sub_categories_nav_container{
    margin-top: 12px;
}

.nav_item::after{
    content: "";
    background-color: #ffca28;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    opacity: 0;
    width: 100%;
    transition: all 0.5s ease;
}

.nav_item:hover{
    color: #ffca28;
}

.nav_item:hover::after{
    height: 8px;
    opacity: 1;
}