    .content{
    padding-top: 9.5vh;
}

.columns{
    margin: 0;
}

.column{
    padding: 0;
}


#navbar{
}

#sub_nav{
    background-color: #616161;
    position: fixed;
    left: -400px;
    height: 90.5vh;
    overflow: scroll;
    transition: all 0.3s ease;
}

#sub_nav.open{
    left: 0;
}

#main_nav > div:nth-child(1) > a{
    cursor: pointer;
    font-size: 20px;
}

#main_nav > div:nth-child(1) > a.open{
    color: #ffca28;
}

#categories_nav{
    width: 375px;
    height: 90vh;
    overflow: scroll;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #616161;
    display: flex;
    min-height: 600px;
    margin: 0;
}

.nav_item, .nav_item_clickable{
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-grow: 1;
    border-bottom: 1px solid #424242;
    transition: background-color 1s ease, color 1s ease , width 0.3s ease;
    cursor: pointer;
    width: 100%;
}

.nav_item:hover, .active{
    color: #616161;
    background-color: #ffca28;
}

.is-fullheight{
    height: 100%;
}

.nav_item > .columns, .nav_item_clickable > .columns{
    width: 100%;
    margin-top: 0;
}

 .categorie_link{
    width: 100%;
}
    .categorie_link > .nav_item {
        height: 100%;
    }
.nav_item > .columns:not(:last-child), .nav_item_clickable > .columns:not(:last-child){
    margin-bottom: 0;
}
.fa-angle-right{
    color: #616161;
    font-size: 30px;
}

.sub_categories_nav_container{
    background-color: #757575;
    border-left: #ffca28 solid 5px;
    transition: background-color 1s ease, color 1s ease , width 0.3s ease;
    width: 375px;
    height: 100%;
    min-height: 600px;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
}

.sub_categories_nav_container > .nav_item{
    border-bottom-color: #616161;
}

.nav_item_clickable > div:nth-child(1) > div:nth-child(3) > :nth-child(1){
    transition: color 1s ease;
}


.nav_item_clickable.active > div:nth-child(1) > div:nth-child(3) > :nth-child(1){
    color: #ffca28;
}

.categorie_link:hover{
    color: #424242;
}

.active{

}