{% extends 'templates/layout.twig' %}

{% block body %}
    <div id="main_container" class="container">
        <h1 id="title">CONDITIONS GENERALES DE VENTES</h1>
        <div id="divider" class="divider is-fullwidth"></div>
        <div class="container is-fluid">
            <h3>ARTICLE 1 - CHAMP D'APPLICATION</h3>
            <p>
                Ces conditions s'appliquent à l'exclusion de toutes autres conditions, notamment celles en vigueur pour les ventes en magasin. Il est rappelé que Core-art n’a pas vocation à vendre à des professionnels ; les dispositions d’origine légale réservées aux consommateurs, notamment le droit de rétractation, ne sont pas applicables aux professionnels qui viendraient à passer commande sur le Site.<br>
                Ces Conditions Générales de Vente pouvant faire l'objet de modifications ultérieures, la version applicable à l'achat du Client est celle en vigueur sur le Site à la date de passation de la commande.<br>
                Sauf preuve contraire, les données enregistrées dans le système informatique de Core-art constituent la preuve de l'ensemble des transactions conclues avec le Client.<br>
            </p>
            <h3>ARTICLE 2 - COORDONNEES DU VENDEUR</h3>
            <p>
                Les coordonnées de Core-art sont les suivantes :
                <br>
                <br>
                CORE-ART<br>
                Service Client Internet<br>
                17 Rue de la Sorbonne,<br>
                75005 Paris<br>
                Tél. : 08 99 23 12 60<br>
                Email : service.client@core-art.fr<br>
            </p>
            <h3>ARTICLE 3 - COMMANDES</h3>
            <p>
                La vente ne sera considérée comme définitive qu'après l'envoi au Client de la confirmation de l'acceptation de la commande par Core-art par courrier électronique et après encaissement par celui-ci de l'intégralité du prix.
                Le Client a la possibilité de vérifier le détail de sa commande, son prix total et de corriger d'éventuelles erreurs avant de confirmer son acceptation. Cette validation implique l'acceptation de l'intégralité des présentes Conditions Générales de Vente et constituent une preuve du contrat de vente.
                Il appartient donc au Client de vérifier l'exactitude de la commande et de signaler immédiatement toute erreur.
                Core-art se réserve le droit d'annuler ou de refuser toute commande d'un Client avec lequel il existerait un litige relatif au paiement d'une commande antérieure.
                Les offres de Produits sont valables tant qu'elles sont visibles sur le site, dans la limite des stocks disponibles. A cet égard, Core-art est un détaillant et, à ce titre, sera en droit de refuser toute commande dont le volume serait excessif.
                Des produits bien que présents sur le site peuvent être en rupture momentanée.
                Dans l'éventualité d'une indisponibilité exceptionnelle de produit plus de 15 jours après la passation de votre commande bien que le produit ait été indiqué comme disponible, vous en serez informé par mail ou par courrier. Votre commande sera annulée et vous serez immédiatement remboursé si votre compte bancaire a été débité.
                Il est rappelé que les photographies et graphismes présentés sur le Site ne sont pas contractuels et ne sauraient engager la responsabilité de Core-art. Le Client est tenu de se reporter au descriptif de chaque Produit afin d'en connaître les propriétés et les particularités essentielles.
            </p>
            <h3>ARTICLE 4 - TARIFS</h3>
            <p>
                Les Produits sont fournis aux tarifs en vigueur figurant sur le Site lors de l'enregistrement de la commande par Core-art. Les prix sont exprimés en Euros et TTC.
                Core-art se réserve le droit de modifier les prix de ses produits à tout moment. Ils ne comprennent pas les frais de traitement, d'expédition, de transport et de livraison, qui sont facturés en supplément, dans les conditions indiquées sur le Site et calculés préalablement à la passation de la commande.
                Le paiement demandé au Client correspond au montant total de l'achat, y compris ces frais.
                Une facture est établie par Core-art et remise au Client lors de la réception du paiement. Nous vous invitons à conserver cette facture. Elle vous servira en cas de réclamation.
            </p>
            <h3>ARTICLE 5 - CONDITIONS DE PAIEMENT</h3>
            <p>
                Le prix est payable comptant, en totalité au jour de la passation de la commande par le Client, par voie de paiement sécurisé par carte bancaire (Visa, MasterCard et CB) ou Paypal, suivant les indications figurant sur le Site, étant précisé qu'une commande peut être réglée à l'aide de plusieurs moyens de paiement. Toutefois, aucun paiement partiel ne peut être effectué en cas de paiement par Paypal.
                Les paiements effectués par le Client ne seront considérés comme définitifs qu'après encaissement effectif des sommes dues, par Core-art.
                En outre, Core-art se réserve le droit, en cas de non-respect des conditions de paiement figurant ci-dessus, de suspendre ou d'annuler la livraison des commandes en cours effectuées par le Client.
                Dans le cadre de son action en faveur de la lutte contre les fraudes sur internet, Core-art peut être amenée à vérifier les coordonnées bancaires et/ou l'identité des clients avant toute livraison. En passant sa commande sur le site de Core-art, le client s'engage à fournir à Core-art les justificatifs demandés. A défaut de communication des éléments demandés dans le délai imparti, cette dernière se réserve le droit d'annuler la commande objet de la vérification.
                Aucun frais supplémentaire, supérieur aux coûts supportés par Core-art pour l'utilisation d'un moyen de paiement ne pourra être facturé au Client. En toute hypothèse, le prix TTC comprenant l’ensemble des éventuels frais annexes sera rappelé au Client avant la passation de sa commande.
                Conformément à la loi, nous devons vous rappeler que le fait de valider votre commande implique l’obligation de payer le prix indiqué.
            </p>
            <h4>Modalités de sécurisation de vos paiements</h4>
            <p>
                Afin d'assurer la sécurité des paiements, le Site utilise un service de paiement sécurisé. Ce service intègre la norme de sécurité SSL. Lorsque la commande est validée, la demande de paiement est routée en temps réel sur le gestionnaire de télépaiement sécurisé. Celui-ci adresse une demande d'autorisation au réseau carte bancaire. Le gestionnaire de télépaiement délivre un certificat électronique.
                Lorsqu'une transaction de paiement est émise, la technologie TLS (Protocole cryptographique) est activée pour maintenir une connexion sécurisée et protéger les données. Cette solution permet à l'acheteur d'effectuer ses achats de Produits en toute sécurité. Les coordonnées bancaires de l'acheteur payant par carte bancaire ne sont pas connues par Core-art.
            </p>
            <h4>Payez avec PayPal</h4>
            <p>PayPal est un moyen de paiement sécurisé qui vous permet de payer rapidement vos articles sans partager vos données bancaires avec les sites vendeurs. Il vous suffit en effet de les avoir indiquées lors de la création de votre compte PayPal. Elles sont alors cryptées et sécurisées une fois pour toutes. Si vous possédez déjà un compte PayPal, vous pouvez l’utiliser sur notre site pour régler vos achats rapidement et en toute sécurité. Si vous n’avez pas de compte PayPal, vous pouvez tout de même choisir ce moyen de paiement. Au moment de régler, vous êtes alors dirigés vers une page PayPal où vous renseignez vos données bancaires et choisissez ou non de créer un compte PayPal.</p>
            <h4>Facturation</h4>
            <p>La facture adressée à l'acheteur reprend les indications renseignées par ce dernier dans son compte client. L'acheteur a la possibilité de modifier ces données à l'occasion de toute nouvelle commande passée sur le site.</p>
            <h3>ARTICLE 6 - LIVRAISONS</h3>
            <p>Les Produits commandés par le Client seront livrés en France métropolitaine (y compris la Corse) dans le délai d'expédition indiqué lors du processus de commande. En cas de commandes multiples, le délai de livraison le plus éloigné fera foi.
                La livraison est constituée par le transfert au Client de la possession physique ou du contrôle du Produit.
                Cinq modes de livraison peuvent être choisis par le Client :
            </p>
            <ul>
                <li>Colissimo Standard 48h</li>
                <li>Chronopost Express 24h avant 13h</li>
                <li>Livraison en point relais Chronorelais, 24h avant 13h</li>
                <li>Livraison en boutique</li>
                <li>Retrait en boutique</li>
            </ul>
            <br>
            <p>La liste des boutiques dans lesquelles vos commandes peuvent être livrées ou retirées est disponible ici.</p>
            <br>
            <p>Core-art s'engage à faire ses meilleurs efforts pour livrer les produits commandés par le Client dans les délais précisés lors de la commande. A défaut de livraison dans le délai indiqué lors de la commande, ou à défaut d’indication de délai de livraison, trente (30) jours à compter de la commande, pour toute autre cause que la force majeure ou le fait du Client, la vente pourra être résolue à la demande écrite du Client dans les conditions prévues aux articles L. 216-2, L.216-3, et L.241-4 du Code de la consommation. Les sommes versées par le Client lui seront alors restituées au plus tard dans les quatorze jours qui suivent la date de dénonciation du contrat.
                Le Client est tenu de vérifier l'état des produits livrés et de formuler toutes réserves en présence du transporteur. Sans préjudice des dispositions relatives aux garanties légales ci-après, il dispose d'un délai de trois (3) jours à compter de la livraison pour formuler par e-mail (service.client@dubruitdanslacuisine.fr) ou par voie postale toutes réserves ou réclamations pour non-conformité ou vice apparent des Produits livrés (par exemple colis endommagé déjà ouvert ...), avec tous les justificatifs y afférents (photos notamment). Passé ce délai et à défaut d'avoir respecté ces formalités, les Produits seront réputés conformes et exempts de tout vice apparent et aucune réclamation ne pourra être valablement acceptée par Core-art.
            </p>
            <br>
            <p>Les frais de port sont calculés en fonction du poids de la commande du client et sont visibles lors de la consultation du panier. Les frais de port sont offerts lors d’une livraison en boutique.</p>
            <h3>ARTICLE 7 - TRANSFERT DE PROPRIETE - TRANSFERT DES RISQUES</h3>
            <p>Le transfert de propriété des Produits de Core-art, au profit du Client, ne sera réalisé qu'après complet paiement du prix par ce dernier, et ce quelle que soit la date de livraison desdits Produits.
                Quelle que soit la date du transfert de propriété des Produits, le transfert des risques de perte et de détérioration s'y rapportant, ne sera réalisé qu'au moment où le Client prendra physiquement possession des Produits. Les Produits voyagent donc aux risques et périls de Core-art (conformément à la Loi).
            </p>
            <h3>ARTICLE 8 - DROIT DE RETRACTATION</h3>
            <p>Conformément aux dispositions légales en vigueur, le Client dispose d'un délai de quatorze jours à compter de la réception du Produit pour exercer son droit de rétractation auprès du Vendeur, sans avoir à justifier de motifs ni à payer de pénalité, à fin d'échange ou de remboursement, à condition que les Produits soient retournés dans leur emballage d'origine et en parfait état dans les quatorze (14) jours suivant la notification au Vendeur de la décision de rétractation du Client.
                Les retours sont à effectuer dans leur état d'origine et complets (emballage, accessoires, notice...) permettant leur remise sur le marché à l'état neuf, accompagnés de la facture d'achat. Consultez l’Article 9 – Retours pour connaître la démarche à suivre.
                Les Produits endommagés, salis ou incomplets ne sont pas repris.
            </p><br>
            <p>Le droit de rétractation peut être exercé en ligne, à l'aide du formulaire de rétractation disponible en cliquant ici auquel cas un accusé de réception sur un support durable sera immédiatement communiqué au Client par le Vendeur, ou de toute autre déclaration, dénuée d'ambiguïté, exprimant la volonté de se rétracter.</p><br>
            <p>En cas d'exercice du droit de rétractation dans le délai susvisé, seul le prix du ou des Produits achetés et les frais de livraison sont remboursés ; les frais de retour restent à la charge du Client.
                L'échange (sous réserve de disponibilité) ou le remboursement sera effectué dans un délai de quatorze (14) jours à compter de la réception, par le Vendeur, des Produits retournés par le Client dans les conditions prévues au présent article.
                Il est rappelé que, conformément à l’article L.221-28 du Code de la consommation, le droit de rétractation ne peut être exercé pour les contrats :
            </p>
            <ul>
                <li>De fourniture de biens confectionnés selon les spécifications du consommateur ou nettement personnalisés</li>
                <li>De fourniture de biens susceptibles de se détériorer ou de se périmer rapidement</li>
                <li>De fourniture de biens qui ont été descellés par le consommateur après la livraison et qui ne peuvent être renvoyés pour des raisons d'hygiène ou de protection de la santé.</li>
            </ul>
            <h3>ARTICLE 9 - RETOURS</h3>
            <p>Hors les retours réalisés dans le cadre du droit de rétractation précisé à l’article ci-dessus, aucun retour ne pourra être réalisé sans l’accord préalable et écrit de Core-art.
                Afin de retourner ses Produits, le Client doit :
            </p>
            <ul>
                <li>S'identifier sur le site Core-art, et depuis son compte en ligne dans la rubrique « Retour Produit » cliquer sur « Nouvelle demande de retour »</li>
                <li>Cliquer ensuite sur la commande concernée par le retour en cliquant sur « Suivant » puis sélectionner l’article ou les articles qu'il souhaite retourner. Indiquer la raison du retour et cliquer sur « Suivant »</li>
                <li>Le client peut ajouter un commentaire s’il le souhaite pour donner plus d’information sur sa demande de retour. Puis cliquer sur confirmer pour valider sa demande de retour.</li>
                <li>Une fois la demande de retour validée par Core-art, un numéro de retour est alors attribué au Client.</li>
                <li>Imprimer la demande de retour et la joindre au colis afin que le rapprochement puisse être fait entre le retour et la commande. Le remboursement des articles commandés ne sera effectué qu’après vérification par Core-art de la quantité et de la qualité des articles qui ont été retournés. L’article sera retourné aux frais du Client à l’adresse suivante :</li>
            </ul><br>
            <p>LITTLE CUISINE – Retour Web<br>
                Za de la Mivoie Le Vallon<br>
                2 rue de la teillais<br>
                35136 SAINT JACQUES DE LA LANDE<br>
                France
            </p><br>
            <p>À réception du colis, le produit est vérifié. S’il répond aux conditions de retour, le remboursement pourra être effectué.</p>
            <p><strong>Le Client a la possibilité de rapporter le produit dans l’une des boutiques Core-art (sauf Montparnasse, Saint Lazare, Italie 2, Gare de Lyon, Lille, Rouen, Tours). Le retour sera pris en compte sous réserve de la présentation en boutique de la demande de retour imprimée.</strong></p>
            <br>
            <p>Le remboursement des articles retournés est effectué dans un délai de 14 jours maximum à compter de la date de réception par Core-art du produit retourné. Un e-mail de confirmation du remboursement est adressé au Client le jour du remboursement.</p>
            <h3>ARTICLE 10 - RESPONSABILITE DE CORE-ART  - GARANTIE</h3>
            <p>Les Produits vendus sur le Site sont conformes à la réglementation en vigueur en France.</p><br>
            <p>Outre les éventuelles garanties commerciales précisées, le cas échéant, lors de la vente, il est rappelé que Core-art est tenue des défauts de conformité du bien vendu conformément aux articles L. 217-4 et suivants du Code de la Consommation, ainsi qu’à la garantie légale des vices cachés des articles 1641 et suivants du Code Civil reproduits ci-dessous.</p><br>
            <p>« Garantie légale de conformité » (extrait du Code de la consommation)<br>
                Art. L. 217-4. «Core-art est tenu de livrer un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de l’emballage, des instructions de montage ou de l’installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité ».<br>
                Art. L. 217-12. « L’action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien »<br>
                Art. L. 217-5. « Pour être conforme au contrat, le bien doit :
            </p><br>
            <strong>1. Etre propre à l’usage habituellement attendu d’un bien semblable et, le cas échéant :</strong>
            <ul>
                <li>Correspondre à la description donnée par Core-art et posséder les qualités que celui-ci a présentées à l’acheteur sous forme d’échantillon ou de modèle</li>
                <li>•	Présenter les qualités qu’un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par Core-art, par le producteur ou par son représentant, notamment dans la publicité ou l’étiquetage.</li>
            </ul>
            <br>
            <strong>Présenter les caractéristiques définies d’un commun accord par les parties ou être propre à tout usage spécial recherché par l’acheteur, porté à la connaissance de Core-art et que ce dernier a accepté ».</strong><br>
            <p>« De la garantie des défauts de la chose vendue » (extrait du Code civil)
                Art. 1641. « Core-art est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rende impropre à l’usage auquel on la destine, ou qui diminuent tellement cet usage, que l’acheteur ne l’aurait pas acquise, ou n’en aurait donné qu’un moindre prix, s’il les avait connus ».
                Art. 1648 - alinéa 1er. « L’action résultant des vices rédhibitoires doit être intentée par l’acquéreur dans un délai de deux ans à compter de la découverte du vice ».
            </p><br>
            <p>La garantie légale ou conventionnelle est exclue en cas de mauvaise utilisation, négligence ou défaut d'entretien de la part du Client, comme en cas d'usure normale du bien, d'accident ou de force majeure et la garantie de Core-art est limitée au remplacement ou au remboursement des produits non conformes ou affectés d'un vice.</p><br>
            <strong>Garantie commerciale</strong><br>
            <p>Certains produits bénéficient d’une garantie supplémentaire offerte par le constructeur et indiquée sur la fiche article des produits présentée sur le site.</p>
            <h3>Article 11 – SAV</h3>
            <p>Afin de connaître les démarches à suivre concernant le service après-vente pour tout problème ou de panne sur un produit vous pouvez contactez le Service client (service.client@core-art.fr). Pour pouvoir bénéficier de la garantie des produits, il convient impérativement de conserver la facture d'achat du produit.</p>
            <h3>ARTICLE 12 - PROTECTION DES DONNEES PERSONNELLES</h3>
            <p>Les informations recueillies suite à la passation d’une commande ou lors d’une création de compte sur le site web sont enregistrées dans un fichier informatisé par Core-art afin de traiter votre commande, et de vous envoyer des informations sur nos produits et services.
                Elles sont conservées pendant une durée de trois (3) ans à compter de la fin de la relation commerciale et sont destinées à Core-art et à ses sous-traitants, agissant sous son contrôle.
                Conformément à la loi « informatique et libertés », vous pouvez exercer votre droit d'accès aux données vous concernant et les faire rectifier en contactant :
            </p>
            <ul>
                <li>Par courrier, LITTLE CUISINE, ZA de la Mivoie Le Vallon - 2 rue de la Teillais, 35136 SAINT JACQUES DE LA LANDE</li>
                <li>Par mail, service.client@core-art.fr</li>
            </ul><br>
            <p>Il est rappelé que, conformément aux dispositions de l’article L.233-1 du Code de la consommation, le client qui ne souhaite pas faire l’objet de prospection commerciale par voie téléphonique peut gratuitement s’inscrire sur une liste d’opposition au démarchage téléphonique. Nous sommes toutefois en droit d’utiliser votre numéro de téléphone dans le cadre de nos relations contractuelles et de leurs suites.</p>
            <h3>ARTICLE 13 - DROIT APPLICABLE / LITIGES</h3>
            <p>De convention expresse, les présentes CGV et leurs suites sont régies par le droit français. Sauf dispositions impératives contraires, tout litige relatif à l’exécution des présentes et de ses suites seront soumis aux Tribunaux français.
                Le Client est informé qu'il peut en tout état de cause recourir à une médiation conventionnelle, notamment auprès de la Commission de la médiation de la consommation (C. consom. art. L 612-1) ou auprès des instances de médiation sectorielles existantes, ou à tout mode alternatif de règlement des différends (conciliation, par exemple) en cas de contestation.
                Outre la procédure de médiation prévue ci-dessus, il est rappelé au Client qu’il peut introduire une plainte sur plateforme de Règlement en Ligne des Litiges (« RLL ») éditée par la Commission Européenne, facilitant le règlement indépendant par voie extrajudiciaire des litiges en ligne entre consommateurs et professionnels de l’Union européenne (article 14 du Règlement (UE) n°524/2013 du 21 mai 2013). Cette plateforme est accessible à l’adresse suivante : https://webgate.ec.europa.eu/odr/
            </p>
            <h3>ARTICLE 14 - DROIT DE PROPRIETE INTELECTUELLE</h3>
            <p>Le site, sa structure générale, ainsi que les textes, images, savoir-faire, dessins, graphismes et tout autre élément composant le site, sont la propriété exclusive de Core-art, ou de ses membres.
                L’ensemble de ce site relève de la législation française et internationale sur les droits d’auteur et de la propriété intellectuelle. Les noms, marques et enseignes cités sur ce site sont la propriété de leurs déposants respectifs. Toute utilisation ou reproduction, totale ou partielle, du site, des éléments qui le composent et/ou des informations qui y figurent, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par le Code de la propriété intellectuelle.
            </p>
            <h3>ARTICLE 15 – RESPONSABILITE</h3>
            <p>La société ne peut, en aucun être tenu pour responsable de l’indisponibilité du site internet. Bien qu’elle mette tout en œuvre pour assurer en permanence le service, il se peut que celui-ci soit indisponible à tout moment.</p>
            <h3>ARTICLE 16 – IDENTIFICATION</h3>
            <p>L’inscription à notre site web est ouverte à toutes personnes physique jouissant de leurs pleines personnalités et capacités juridiques.
                Pour procéder à l’inscription sur notre site web, l’utilisateur devra remplir tous les champs obligatoires ; sans cela l’inscription ne sera pas prise en compte.
                Les utilisateurs s’engagent à ne communiquer que des informations exactes et conforment à la réalité.
                Chaque utilisateur enregistré sur le site dispose d’un identifiant et un mot de passe qui lui est propre. Ces derniers sont strictement personnels et ne doivent être communiqué à une tiers personne en aucun cas. Tout utilisateur inscrit est seul responsable de la confidentialité de son identifiant et mot de passe, la société ne sera pas tenue responsable de l’usurpation d’identité d’un utilisateur.
                La société se réserve le droit de supprimer temporairement ou définitivement le compte d’un utilisateur ne respectant pas les conditions générales de vente ou d’utilisation (CGV).
            </p><br><br>

        </div>
    </div>
{% endblock %}