{% extends 'templates/layout.twig' %}

{% block body %}
    <div id="main_container" class="container">
        <h1 id="title">QUI SOMME NOUS</h1>
        <div id="divider" class="divider is-fullwidth"></div>
        <div class="container is-fluid">
            <h4>« Core-art »</h4>
            <p>Se veut un espace de découverte. Notre mission consiste donc à rassembler en un lieu unique tout ce qui a trait à l'art culinaire.
                En tant que spécialiste facilitateur, nous avons à cœur d'accompagner chacun dans la découverte et redécouverte de l’aménagement de la cuisine...
            </p><br>
            <h4>Ce qui nous tient à cœur</h4>
            <p>Amis pour qui le goût se savoure au quotidien, tous amoureux de bonne chère, laissons tinter les idées, tâtons d’autres coutumes.</p><br>
            <p>et d’initiation. Explorons arômes et textures, secrets et tours de main.</p><br>
            <p>Et comme le goût s’accorde allègrement aux plaisirs et aux caractères, conjuguons le à toutes les sauces, faisons de l’art…</p>
            <br>
            <h4>Envoyer nous un message</h4>
            <br>
            <span id="thank_message" class="is-hidden">Votre message à bien été envoyer !</span>
            <div id="mail_container" class="container is-fluid">
                <div class="field">
                    <label class="label">Mail</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="Votre email">
                    </div>
                </div>
                    <div class="field">
                        <label class="label">Sujet</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Sujet">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="control">
                        <button id ="submit_button" class="button is-medium is-fullwidth">Submit</button>
                    </div>
            </div>
            <br>
            <br>
        </div>
    </div>
{% endblock %}