{% extends 'templates/layout.twig' %}


{% block Menu %}
{% endblock %}

{% block body %}
  <div id="home_illustration">
    <div id="overlay">
      <article id="welcome">
        <h1>{{message}}</h1>
        <h1>{{error.status}}</h1>
      </article>
    </div>
  </div>
{% endblock %}

{% block Footer %}
  <div id="footer">
  </div>
{% endblock %}
