{% extends 'templates/layout.twig' %}

{% block Menu %}
{% endblock %}

{% block body %}
    <div id="home_illustration">
        <div id="overlay">
            <article id="welcome">
                <h1>Vous avez bien validé votre panier</h1>
                <p>Merci d'avoir naviguer sur notre site.</p>
                <p>Nous vous invitons à remplir le formulaire pour finaliser l'enquête.</p>
                <p id="team">L’équipe CoreArt</p>
            </article>
            <div id="return_button">
                <a href="/">Retour à vos achats</a>
                <a href="https://essec.qualtrics.com/jfe/form/SV_cBGtxZzmisdwGMe">Retour enqête</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block Footer %}
    <div id="footer">
    </div>
{% endblock %}