{% extends 'templates/layout.twig' %}


{% block body %}
    <div id="home_illustration">
        <div id="overlay">
            <article id="welcome">
                <h1>Bienvenue sur Core-art</h1>
                <p>Vous retrouverez sur notre site tous types de produits en matière d’art de la table, pour répondre à vos besoins</p>
                <p>Nous vous souhaitons une agréable visite sur notre site.</p>
                <p id="team">L’équipe CoreArt</p>
            </article>
        </div>
    </div>
{% endblock %}
