{% extends 'templates/layout.twig' %}

{% block body %}
    <div id="main_container" class="container">
        <h1 id="title">MENTIONS LEGALS</h1>
        <div id="divider" class="divider is-fullwidth"></div>
        <div class="container is-fluid">
            <h2>INFORMATIONS ÉDITEUR :</h2>
            <p>Core-art, site académique situé au 17 place de la sorbonne, 75005 paris.</p>
            <h2>RESPONSABLE DE LA PUBLICATION :</h2>
            <p><strong>Mr Sender Thomas</strong></p>
            <h2>HÉBERGEMENT DU SITE :</h2>
            <p>Nom / Raison sociale : Hostinger</p><br>
            <p>Adresse : Kaunas, en Lituanie</p>
            <h2>CONCEPTION GRAPHIQUE ET DÉVELOPPEMENT :</h2>
            <p><strong>Mr Rousse Thomas </strong></p>
            <br><br>
        </div>
    </div>
{% endblock %}