{% extends 'templates/layout.twig' %}

{% block body %}
<div id="main_container" class="container">
    <h1 id="title">ENVOYEZ NOUS UN MESSAGE</h1>
    <div id="divider" class="divider is-fullwidth"></div>
    <div class="container is-fluid">
        <span id="thank_message" class="is-hidden">Votre message à bien été envoyé !</span>
        <div id="mail_container" class="container is-fluid">
            <div class="field">
                <label class="label">Mail</label>
                <div class="control clickable">
                    <input class="input" type="email" placeholder="Votre email">
                </div>
            </div>
            <div class="field">
                <label class="label">Sujet</label>
                <div class="control clickable">
                    <input class="input" type="text" placeholder="Sujet">
                </div>
            </div>
            <div class="field">
                <label class="label">Message</label>
                <div class="control clickable">
                    <textarea class="textarea" placeholder="Message"></textarea>
                </div>
            </div>
            <div class="control">
                <button id ="submit_button" class="clickable button is-medium is-fullwidth">Envoyer</button>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
{% endblock %}