{% extends 'templates/layout.twig' %}

{% block body %}

    <div id="valid_container" class="container">
        <div id="valid_chart_container" class="valid_item chart_items">
        </div>
        <div id="total_chart_container">
            <div id="total_chart" class="valid_item">
            </div>
            <div id="valid_chart_button" class="clickable btn">Valider et payer</div>
        </div>
    </div>

{% endblock %}