#mail_container{
    width: 80%;
}

#submit_button{
    margin-top: 10px;
    background-color: #616161;
    color: whitesmoke;
    font-weight: bold;
}

#submit_button:hover{
    color: #616161;
    background-color: #ffca28;
}

#thank_message{
    color: #616161;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
}