#home_illustration{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url("/images/fond.jpg");
    background-size: cover;
    background-position: center;
}

#overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index:0;
}

#welcome{
    font-size: 20px;
    font-weight: bold;
    color: antiquewhite;
    margin-top: 15%;
    padding-left: 20%;
    text-align: center;
    padding-right: 20%;
    z-index:1;
}

#team{
    text-align: right;
}

h1{
    color: antiquewhite !important;
}

#return_button{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

#return_button > a{
    padding: 10px 30px;
    background-color: #6d4c41;
    color: #ffb74d;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #ffb74d;
    border-radius: 5px;
}