#product_main_container{
    margin-top: 60px;
    width: 80%;
}

#product_image{
    width: 85%;
    border: 5px solid #757575;
}

#info_card{
    height: fit-content;
    font-size: 25px;
    font-weight: bold;
}

table{
    line-height: 35px;
    border: 2px solid #616161;
}

th {
    background-color: #616161;
    color: white !important;
    font-weight: bold;
    width: 40%;
}

td {
    background-color: white;
    color: black !important;
    font-weight: bold;
}

.card{
    padding: 15px;
    border: 3px solid #757575;
    background-color: white;
    color: black ;
}

#product_title{
    color: black;
    font-size: 25px;
    overflow-wrap: break-word;
}


.price > p{
    font-weight: bold;
    display: inline;
    margin-left: 1px;
}

#product_characteristic{
    margin-top: 25px;
}

#product_description_text{
    width: 90%;
    overflow-wrap: break-word;
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: 600;
    color: black;
    line-height: 30px;
}

.price > .decimal{
    font-size: 25px;
}

.price > .unit{
    font-size: 25px;
}

.price{
    margin-bottom: 30px;
}

.btn{
    padding: 15px 25px;
    background-color:  #757575;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}

.btn:hover{
    background-color: #ffca28;
    color: #757575;
}

#add_container{
    width: 100%;
    text-align: center;
}

#description_title{
    font-size: 25px;
    font-weight: bold;
    color: black;
}

#product_description{
    margin-top: 40px;
    width: 70%;
}

#description_divider{
    color: #616161;
    margin-bottom: 20px;
    margin-top: 10px;
}

